.searchtext {
  display: flex;
  justify-content: center;
  background-color: rgb(184, 131, 52);
  border: none;
  .menu_iconvis {
    float: right;
    cursor: pointer;
    &:hover {
      transform: scale(120%);
    }
    .menu_iconinvis {
      display: none;
    }
  }
}

.form_div {
  box-shadow: black 2px 2px 3px;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  height: 100px;
  border-radius: 0px 0px 25px 25px;
  border: rgb(77, 50, 9) 2px solid;
  border-top: none;
  justify-content: center;
  background-color: rgb(184, 131, 52);
}
form {
  margin: 0% 2%;
  input {
    border: none;
    border-bottom: orange 2px solid;
    border-left: orange 2px solid;
    border-radius: 12px;
    color: white;
    width: 250px;
    height: 30px;
    background-color: transparent;
    font-size: large;
    margin-top: 15%;
    outline: none;
    &:hover {
      background-color: black;
    }
  }
  button {
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 50px;
  }
}
footer {
  display: flex;
  justify-content: center;
  color: blanchedalmond;
  text-shadow: 1px 1px 2px gold;
  background-color: rgba(47, 79, 79, 0.493);
  border-radius: 10px 10px 0px 0px;
  box-shadow: #101b1b 2px 2px 7px;
}
.menu_invis {
  display: none;
}
.menu_vis {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #deb887;
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  h2 {
    cursor: pointer;
    border-radius: 15px;
    color: rgb(90, 60, 4);
    text-shadow: lightsalmon 2px 2px 5px;
    border-bottom: maroon 1px solid;
    margin-top: 5%;
    font-size: 35px;
    &:hover {
      border: none;
      transform: scale(150%);
      text-shadow: rgb(207, 80, 80) 2px 2px 5px, #54d1da 2px 2px 2px;
    }
  }
}
@media screen and (max-width: 660px) {
}
